$color-orange: #f98a09;

h1 {
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
}


.markAsDone {
  color: #777777;
  text-decoration: line-through;
}


.tableActions {
  width: 150px;
}